In [1]:
from pathlib import Path
import datetime as dt
import pandas as pd
import numpy as np

In [3]:
ca_fuelstation_df = pd.read_csv(
    Path("../../../data/raw_data/CA_2024_alt_fuel_stations (Aug 30 2024)-2.csv"),
    parse_dates=["Open Date"],
    dtype={"ZIP":str},
)

print("Shape:", ca_fuelstation_df.shape)
ca_fuelstation_df.sort_values("Open Date",inplace=True)

display(ca_fuelstation_df.head())

Shape: (17556, 75)

/var/folders/07/6wrk2d5d7_ggvw77n55lwq_40000gn/T/ipykernel_38743/64277740.py:1: DtypeWarning: Columns (20,31,46,69) have mixed types. Specify dtype option on import or set low_memory=False.
  ca_fuelstation_df = pd.read_csv(

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
0,ELEC,Los Angeles Convention Center,1201 S Figueroa St,West hall and South hall,Los Angeles,CA,90015,NaN,213-741-1151,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
1,ELEC,California Air Resources Board,9530 Telstar Ave,NaN,El Monte,CA,91731,NaN,626-575-6800,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2,ELEC,Scripps Green Hospital,10666 N Torrey Pines Rd,"Patient Parking Structure, level G",La Jolla,CA,92037,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
4,ELEC,Galleria at Tyler,1299 Galleria at Tyler,NaN,Riverside,CA,92503,NaN,951-351-3110,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
5,ELEC,City of Pasadena - Holly Street Garage,150 E Holly St,NaN,Pasadena,CA,91103,NaN,626-744-7665,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN

In [5]:
ca_fuelstation_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17556 entries, 0 to 17472
Data columns (total 75 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Fuel Type Code                           17556 non-null  object
 1   Station Name                             17556 non-null  object
 2   Street Address                           17542 non-null  object
 3   Intersection Directions                  6381 non-null   object
 4   City                                     17542 non-null  object
 5   State                                    17556 non-null  object
 6   ZIP                                      17542 non-null  object
 7   Plus4                                    0 non-null      float64
 8   Station Phone                            17413 non-null  object
 9   Status Code                              17556 non-null  object
 10  Expected Date                            1477 non-null   object
 11  Groups With Access Code                  17556 non-null  object
 12  Access Days Time                         16570 non-null  object
 13  Cards Accepted                           1151 non-null   object
 14  BD Blends                                0 non-null      float64
 15  NG Fill Type Code                        0 non-null      float64
 16  NG PSI                                   0 non-null      float64
 17  EV Level1 EVSE Num                       43 non-null     float64
 18  EV Level2 EVSE Num                       15455 non-null  float64
 19  EV DC Fast Count                         2405 non-null   float64
 20  EV Other Info                            13 non-null     object
 21  EV Network                               17556 non-null  object
 22  EV Network Web                           16667 non-null  object
 23  Geocode Status                           17555 non-null  object
 24  Latitude                                 17556 non-null  float64
 25  Longitude                                17556 non-null  float64
 26  Date Last Confirmed                      17509 non-null  object
 27  ID                                       17556 non-null  int64
 28  Updated At                               17556 non-null  object
 29  Owner Type Code                          2643 non-null   object
 30  Federal Agency ID                        9 non-null      float64
 31  Federal Agency Name                      9 non-null      object
 32  Open Date                                17553 non-null  datetime64[ns]
 33  Hydrogen Status Link                     0 non-null      float64
 34  NG Vehicle Class                         0 non-null      float64
 35  LPG Primary                              0 non-null      float64
 36  E85 Blender Pump                         0 non-null      float64
 37  EV Connector Types                       17543 non-null  object
 38  Country                                  17556 non-null  object
 39  Intersection Directions (French)         0 non-null      float64
 40  Access Days Time (French)                0 non-null      float64
 41  BD Blends (French)                       0 non-null      float64
 42  Groups With Access Code (French)         17556 non-null  object
 43  Hydrogen Is Retail                       0 non-null      float64
 44  Access Code                              17556 non-null  object
 45  Access Detail Code                       531 non-null    object
 46  Federal Agency Code                      9 non-null      object
 47  Facility Type                            2609 non-null   object
 48  CNG Dispenser Num                        0 non-null      float64
 49  CNG On-Site Renewable Source             0 non-null      float64
 50  CNG Total Compression Capacity           0 non-null      float64
 51  CNG Storage Capacity                     0 non-null      float64
 52  LNG On-Site Renewable Source             0 non-null      float64
 53  E85 Other Ethanol Blends                 0 non-null      float64
 54  EV Pricing                               2131 non-null   object
 55  EV Pricing (French)                      0 non-null      float64
 56  LPG Nozzle Types                         0 non-null      float64
 57  Hydrogen Pressures                       0 non-null      float64
 58  Hydrogen Standards                       0 non-null      float64
 59  CNG Fill Type Code                       0 non-null      float64
 60  CNG PSI                                  0 non-null      float64
 61  CNG Vehicle Class                        0 non-null      float64
 62  LNG Vehicle Class                        0 non-null      float64
 63  EV On-Site Renewable Source              77 non-null     object
 64  Restricted Access                        1956 non-null   object
 65  RD Blends                                0 non-null      float64
 66  RD Blends (French)                       0 non-null      float64
 67  RD Blended with Biodiesel                0 non-null      float64
 68  RD Maximum Biodiesel Level               0 non-null      float64
 69  NPS Unit Name                            27 non-null     object
 70  CNG Station Sells Renewable Natural Gas  0 non-null      float64
 71  LNG Station Sells Renewable Natural Gas  0 non-null      float64
 72  Maximum Vehicle Class                    1649 non-null   object
 73  EV Workplace Charging                    17556 non-null  bool
 74  Funding Sources                          0 non-null      float64
dtypes: bool(1), datetime64[ns](1), float64(39), int64(1), object(33)
memory usage: 10.1+ MB

In [7]:
select_columns=["Open Date","ZIP","City","State"]

ev_stations_df=ca_fuelstation_df[select_columns].copy()
ev_stations_df

       Open Date    ZIP                 City State
0     1995-08-30  90015          Los Angeles    CA
1     1996-10-15  91731             El Monte    CA
2     1997-07-30  92037             La Jolla    CA
4     1997-08-30  92503            Riverside    CA
5     1997-08-30  91103             Pasadena    CA
...          ...    ...                  ...   ...
17553 2024-08-29  92868               Orange    CA
17554 2024-08-29  95661            Roseville    CA
17334        NaT  92675  San Juan Capistrano    CA
17335        NaT  90603             Whittier    CA
17472        NaT  95403           Santa Rosa    CA

[17556 rows x 4 columns]

In [9]:
ev_stations_df.rename(
    columns={
        "Open Date":"date",
        "State":"state",
        "City":"city",
        "ZIP":"zip_code"
    },
    inplace = True, 
)
ev_stations_df

            date zip_code                 city state
0     1995-08-30    90015          Los Angeles    CA
1     1996-10-15    91731             El Monte    CA
2     1997-07-30    92037             La Jolla    CA
4     1997-08-30    92503            Riverside    CA
5     1997-08-30    91103             Pasadena    CA
...          ...      ...                  ...   ...
17553 2024-08-29    92868               Orange    CA
17554 2024-08-29    95661            Roseville    CA
17334        NaT    92675  San Juan Capistrano    CA
17335        NaT    90603             Whittier    CA
17472        NaT    95403           Santa Rosa    CA

[17556 rows x 4 columns]

In [11]:
ev_stations_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17556 entries, 0 to 17472
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      17553 non-null  datetime64[ns]
 1   zip_code  17542 non-null  object
 2   city      17542 non-null  object
 3   state     17556 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 685.8+ KB

In [13]:
ev_stations_df.isnull().sum()

date         3
zip_code    14
city        14
state        0
dtype: int64

In [15]:
ev_stations_df.loc[ev_stations_df["date"].isnull()]

      date zip_code                 city state
17334  NaT    92675  San Juan Capistrano    CA
17335  NaT    90603             Whittier    CA
17472  NaT    95403           Santa Rosa    CA

In [17]:
ev_stations_df.dropna(subset="date",inplace=True)

In [19]:
ev_stations_df.loc[ev_stations_df["zip_code"].isnull()]

            date zip_code city state
2666  2020-06-12      NaN  NaN    CA
2782  2020-06-12      NaN  NaN    CA
5125  2021-01-27      NaN  NaN    CA
5263  2021-01-27      NaN  NaN    CA
5262  2021-01-27      NaN  NaN    CA
5777  2021-01-27      NaN  NaN    CA
5778  2021-01-27      NaN  NaN    CA
5779  2021-01-27      NaN  NaN    CA
11116 2022-05-25      NaN  NaN    CA
11117 2022-05-25      NaN  NaN    CA
11115 2022-05-25      NaN  NaN    CA
11114 2022-05-25      NaN  NaN    CA
11197 2022-05-29      NaN  NaN    CA
12744 2022-11-16      NaN  NaN    CA

In [31]:
ev_stations_df.dropna(subset="zip_code",inplace=True)

In [33]:
ev_stations_df.isnull().sum()

date        0
zip_code    0
city        0
state       0
year        0
dtype: int64

In [35]:
ev_stations_df["year"]= ev_stations_df["date"].dt.year
ev_stations_df

            date zip_code         city state  year
0     1995-08-30    90015  Los Angeles    CA  1995
1     1996-10-15    91731     El Monte    CA  1996
2     1997-07-30    92037     La Jolla    CA  1997
4     1997-08-30    92503    Riverside    CA  1997
5     1997-08-30    91103     Pasadena    CA  1997
...          ...      ...          ...   ...   ...
17550 2024-08-29    95321    Groveland    CA  2024
17551 2024-08-29    95928        Chico    CA  2024
17552 2024-08-29    95928        Chico    CA  2024
17553 2024-08-29    92868       Orange    CA  2024
17554 2024-08-29    95661    Roseville    CA  2024

[17539 rows x 5 columns]

In [27]:
zip_df=pd.read_csv(
    Path("../../../data/processed_data/ca_zipcodes.csv"),
    dtype={"Zip Code":str}
)
zip_df

FileNotFoundError: [Errno 2] No such file or directory: '../../../data/processed_data/ca_zipcodes.csv'

In [29]:
zip_df.info()

NameError: name 'zip_df' is not defined

In [16]:
zip_group_df=zip_df.groupby("County")["Zip Code"].apply(list)
zip_group_df

County
Alameda County            [94501, 94502, 94536, 94537, 94538, 94539, 945...
Alpine County                                         [95646, 96120, 96156]
Amador County             [95601, 95629, 95640, 95642, 95654, 95665, 956...
Butte County              [95914, 95916, 95917, 95926, 95927, 95928, 959...
Calaveras County          [95221, 95222, 95223, 95224, 95225, 95226, 952...
Colusa County             [95912, 95932, 95950, 95955, 95970, 95979, 95987]
Contra Costa County       [94505, 94506, 94507, 94509, 94511, 94513, 945...
Del Norte County                 [95531, 95532, 95538, 95543, 95548, 95567]
El Dorado County          [95613, 95614, 95619, 95623, 95633, 95634, 956...
Fresno County             [93210, 93234, 93242, 93602, 93605, 93606, 936...
Glenn County              [95913, 95920, 95939, 95943, 95951, 95963, 95988]
Humboldt County           [95501, 95502, 95503, 95511, 95514, 95518, 955...
Imperial County           [92222, 92227, 92231, 92232, 92233, 92243, 922...
Inyo County               [92328, 92384, 92389, 93513, 93514, 93515, 935...
Kern County               [93203, 93205, 93206, 93215, 93216, 93220, 932...
Kings County              [93202, 93204, 93212, 93230, 93232, 93239, 932...
Lake County               [95422, 95423, 95424, 95426, 95435, 95443, 954...
Lassen County             [96009, 96068, 96109, 96113, 96114, 96117, 961...
Los Angeles County        [90001, 90002, 90003, 90004, 90005, 90006, 900...
Madera County             [93601, 93604, 93610, 93614, 93636, 93637, 936...
Marin County              [94901, 94903, 94904, 94912, 94913, 94914, 949...
Mariposa County           [93623, 95306, 95311, 95318, 95325, 95338, 953...
Mendocino County          [95410, 95415, 95417, 95418, 95420, 95427, 954...
Merced County             [93620, 93635, 93661, 93665, 95301, 95303, 953...
Modoc County              [96006, 96015, 96054, 96101, 96104, 96108, 961...
Mono County               [93512, 93517, 93529, 93541, 93546, 96107, 96133]
Monterey County           [93426, 93450, 93901, 93902, 93905, 93906, 939...
Napa County               [94503, 94508, 94515, 94558, 94559, 94562, 945...
Nevada County             [95712, 95924, 95945, 95946, 95949, 95959, 959...
Orange County             [90620, 90621, 90622, 90623, 90624, 90630, 906...
Placer County             [95602, 95603, 95604, 95631, 95648, 95650, 956...
Plumas County             [95915, 95923, 95934, 95947, 95956, 95971, 959...
Riverside County          [91752, 92201, 92202, 92203, 92210, 92211, 922...
Sacramento County         [94203, 94204, 94205, 94206, 94207, 94208, 942...
San Benito County                       [95023, 95024, 95043, 95045, 95075]
San Bernardino County     [91701, 91708, 91709, 91710, 91729, 91730, 917...
San Diego County          [91901, 91902, 91903, 91905, 91906, 91908, 919...
San Francisco County      [94101, 94102, 94103, 94104, 94105, 94106, 941...
San Joaquin County        [95201, 95202, 95203, 95204, 95205, 95206, 952...
San Luis Obispo County    [93401, 93402, 93403, 93405, 93406, 93407, 934...
San Mateo County          [94002, 94005, 94010, 94011, 94013, 94014, 940...
Santa Barbara County      [93013, 93014, 93067, 93101, 93102, 93103, 931...
Santa Clara County        [94022, 94023, 94024, 94035, 94039, 94040, 940...
Santa Cruz County         [95001, 95003, 95005, 95006, 95007, 95010, 950...
Shasta County             [96001, 96002, 96003, 96007, 96008, 96011, 960...
Sierra County             [95910, 95936, 95944, 96118, 96124, 96125, 96126]
Siskiyou County           [95568, 96014, 96023, 96025, 96027, 96031, 960...
Solano County             [94510, 94512, 94533, 94534, 94535, 94571, 945...
Sonoma County             [94922, 94923, 94926, 94927, 94928, 94931, 949...
Stanislaus County         [95307, 95313, 95316, 95319, 95323, 95326, 953...
Sutter County             [95659, 95668, 95674, 95676, 95953, 95957, 959...
Tehama County             [96021, 96022, 96029, 96035, 96055, 96059, 960...
Trinity County            [95527, 95552, 95563, 95595, 96010, 96024, 960...
Tulare County             [93201, 93207, 93208, 93218, 93219, 93221, 932...
Tuolumne County           [95305, 95309, 95310, 95314, 95321, 95327, 953...
Ventura County            [91319, 91320, 91358, 91360, 91361, 91362, 913...
Yolo County               [95605, 95606, 95607, 95612, 95616, 95617, 956...
Yuba County               [95692, 95901, 95903, 95918, 95919, 95922, 959...
Name: Zip Code, dtype: object

In [17]:
zip_map=zip_group_df.to_dict()
#zip_map

In [18]:
def map_zip_to_county(zip_code):
    for key, value in zip_map.items():
        if zip_code in value: 
            return key, value 
    return None, None

In [19]:
bar = map_zip_to_county("95606")
print(bar)

('Yolo County', ['95605', '95606', '95607', '95612', '95616', '95617', '95618', '95627', '95637', '95645', '95653', '95679', '95691', '95694', '95695', '95697', '95698', '95776', '95798', '95799', '95937'])

In [20]:
ev_stations_df.apply(
    lambda row: map_zip_to_county(row["zip_code"]),axis=1
)

0        (Los Angeles County, [90001, 90002, 90003, 900...
1        (Los Angeles County, [90001, 90002, 90003, 900...
2        (San Diego County, [91901, 91902, 91903, 91905...
4        (Riverside County, [91752, 92201, 92202, 92203...
5        (Los Angeles County, [90001, 90002, 90003, 900...
                               ...
17550    (Tuolumne County, [95305, 95309, 95310, 95314,...
17551    (Butte County, [95914, 95916, 95917, 95926, 95...
17552    (Butte County, [95914, 95916, 95917, 95926, 95...
17553    (Orange County, [90620, 90621, 90622, 90623, 9...
17554    (Placer County, [95602, 95603, 95604, 95631, 9...
Length: 17539, dtype: object

In [21]:
ev_stations_df[["county","zip_codes"]]= ev_stations_df.apply(
    lambda row: map_zip_to_county(row["zip_code"]),axis=1,result_type= "expand"
)
ev_stations_df

,date,zip_code,city,state,year,county,zip_codes
0,1995-08-30,90015,Los Angeles,CA,1995,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
1,1996-10-15,91731,El Monte,CA,1996,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
2,1997-07-30,92037,La Jolla,CA,1997,San Diego County,"[91901, 91902, 91903, 91905, 91906, 91908, 919..."
4,1997-08-30,92503,Riverside,CA,1997,Riverside County,"[91752, 92201, 92202, 92203, 92210, 92211, 922..."
5,1997-08-30,91103,Pasadena,CA,1997,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
...,...,...,...,...,...,...,...
17550,2024-08-29,95321,Groveland,CA,2024,Tuolumne County,"[95305, 95309, 95310, 95314, 95321, 95327, 953..."
17551,2024-08-29,95928,Chico,CA,2024,Butte County,"[95914, 95916, 95917, 95926, 95927, 95928, 959..."
17552,2024-08-29,95928,Chico,CA,2024,Butte County,"[95914, 95916, 95917, 95926, 95927, 95928, 959..."
17553,2024-08-29,92868,Orange,CA,2024,Orange County,"[90620, 90621, 90622, 90623, 90624, 90630, 906..."
17554,2024-08-29,95661,Roseville,CA,2024,Placer County,"[95602, 95603, 95604, 95631, 95648, 95650, 956..."

In [22]:
ev_stations_df.loc[ev_stations_df["zip_codes"].isnull()]

            date zip_code           city state  year county zip_codes
1774  2014-05-29    09048    Los Angeles    CA  2014   None      None
1435  2017-03-06    95438         Fulton    CA  2017   None      None
1600  2019-10-29    93499    Pismo Beach    CA  2019   None      None
16491 2021-02-19    95261        Oakdale    CA  2021   None      None
11276 2022-06-15    10535    Los Angeles    CA  2022   None      None
12282 2022-09-15    99067    Los Angeles    CA  2022   None      None
12260 2022-09-28       CA  Moreno Valley    CA  2022   None      None
14022 2022-10-11    72503     Batesville    CA  2022   None      None
14822 2023-05-15    29866         Orange    CA  2023   None      None
14826 2023-06-20    85003       New York    CA  2023   None      None

In [23]:
ev_stations_df.drop(
    columns=["zip_code","date","city"],
    inplace = True,
)
ev_stations_df

,state,year,county,zip_codes
0,CA,1995,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
1,CA,1996,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
2,CA,1997,San Diego County,"[91901, 91902, 91903, 91905, 91906, 91908, 919..."
4,CA,1997,Riverside County,"[91752, 92201, 92202, 92203, 92210, 92211, 922..."
5,CA,1997,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
...,...,...,...,...
17550,CA,2024,Tuolumne County,"[95305, 95309, 95310, 95314, 95321, 95327, 953..."
17551,CA,2024,Butte County,"[95914, 95916, 95917, 95926, 95927, 95928, 959..."
17552,CA,2024,Butte County,"[95914, 95916, 95917, 95926, 95927, 95928, 959..."
17553,CA,2024,Orange County,"[90620, 90621, 90622, 90623, 90624, 90630, 906..."
17554,CA,2024,Placer County,"[95602, 95603, 95604, 95631, 95648, 95650, 956..."

In [24]:
column_order=["year","state","county","zip_codes"]
ev_stations_df = ev_stations_df[column_order]
ev_stations_df

,year,state,county,zip_codes
0,1995,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
1,1996,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
2,1997,CA,San Diego County,"[91901, 91902, 91903, 91905, 91906, 91908, 919..."
4,1997,CA,Riverside County,"[91752, 92201, 92202, 92203, 92210, 92211, 922..."
5,1997,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
...,...,...,...,...
17550,2024,CA,Tuolumne County,"[95305, 95309, 95310, 95314, 95321, 95327, 953..."
17551,2024,CA,Butte County,"[95914, 95916, 95917, 95926, 95927, 95928, 959..."
17552,2024,CA,Butte County,"[95914, 95916, 95917, 95926, 95927, 95928, 959..."
17553,2024,CA,Orange County,"[90620, 90621, 90622, 90623, 90624, 90630, 906..."
17554,2024,CA,Placer County,"[95602, 95603, 95604, 95631, 95648, 95650, 956..."

In [25]:
ev_stations_df = ev_stations_df.reset_index(drop=True)
ev_stations_df

,year,state,county,zip_codes
0,1995,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
1,1996,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
2,1997,CA,San Diego County,"[91901, 91902, 91903, 91905, 91906, 91908, 919..."
3,1997,CA,Riverside County,"[91752, 92201, 92202, 92203, 92210, 92211, 922..."
4,1997,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
...,...,...,...,...
17534,2024,CA,Tuolumne County,"[95305, 95309, 95310, 95314, 95321, 95327, 953..."
17535,2024,CA,Butte County,"[95914, 95916, 95917, 95926, 95927, 95928, 959..."
17536,2024,CA,Butte County,"[95914, 95916, 95917, 95926, 95927, 95928, 959..."
17537,2024,CA,Orange County,"[90620, 90621, 90622, 90623, 90624, 90630, 906..."
17538,2024,CA,Placer County,"[95602, 95603, 95604, 95631, 95648, 95650, 956..."

In [26]:
ev_stations_df = ev_stations_df.sort_values(["year","county"])
ev_stations_df

,year,state,county,zip_codes
0,1995,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
1,1996,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
4,1997,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
5,1997,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
6,1997,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900..."
...,...,...,...,...
17445,2024,CA,Yolo County,"[95605, 95606, 95607, 95612, 95616, 95617, 956..."
17446,2024,CA,Yolo County,"[95605, 95606, 95607, 95612, 95616, 95617, 956..."
17449,2024,CA,Yolo County,"[95605, 95606, 95607, 95612, 95616, 95617, 956..."
17455,2024,CA,Yolo County,"[95605, 95606, 95607, 95612, 95616, 95617, 956..."
17462,2024,CA,Yolo County,"[95605, 95606, 95607, 95612, 95616, 95617, 956..."

In [27]:
ev_stations_clean = ev_stations_df.copy()
ev_stations_clean.isnull().sum()

year          0
state         0
county       10
zip_codes    10
dtype: int64

In [28]:
ev_stations_clean.loc[ev_stations_clean["zip_codes"].isnull()]

       year state county zip_codes
483    2014    CA   None      None
1329   2017    CA   None      None
2414   2019    CA   None      None
9212   2021    CA   None      None
11960  2022    CA   None      None
12600  2022    CA   None      None
12717  2022    CA   None      None
12897  2022    CA   None      None
14262  2023    CA   None      None
14538  2023    CA   None      None

In [29]:
ev_stations_clean.dropna(subset=["zip_codes"], inplace = True)
ev_stations_clean.isnull().sum()

year         0
state        0
county       0
zip_codes    0
dtype: int64

In [30]:
ev_stations_clean["ev_station_count"]=1
ev_stations_clean

,year,state,county,zip_codes,ev_station_count
0,1995,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900...",1
1,1996,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900...",1
4,1997,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900...",1
5,1997,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900...",1
6,1997,CA,Los Angeles County,"[90001, 90002, 90003, 90004, 90005, 90006, 900...",1
...,...,...,...,...,...
17445,2024,CA,Yolo County,"[95605, 95606, 95607, 95612, 95616, 95617, 956...",1
17446,2024,CA,Yolo County,"[95605, 95606, 95607, 95612, 95616, 95617, 956...",1
17449,2024,CA,Yolo County,"[95605, 95606, 95607, 95612, 95616, 95617, 956...",1
17455,2024,CA,Yolo County,"[95605, 95606, 95607, 95612, 95616, 95617, 956...",1
17462,2024,CA,Yolo County,"[95605, 95606, 95607, 95612, 95616, 95617, 956...",1

In [66]:
ev_stations_per_year = ev_stations_clean.groupby(["year","county"])["ev_station_count"].sum().reset_index()
ev_stations_per_year

     year              county  ev_station_count
0    1995  Los Angeles County                 1
1    1996  Los Angeles County                 1
2    1997  Los Angeles County                 4
3    1997    Riverside County                 1
4    1997    San Diego County                 1
..    ...                 ...               ...
591  2024       Tehama County                 1
592  2024       Tulare County                 8
593  2024     Tuolumne County                 9
594  2024      Ventura County                14
595  2024         Yolo County                23

[596 rows x 3 columns]

In [69]:
ev_stations_per_year.sort_values(by=["county","year"])

     year          county  ev_station_count
36   2011  Alameda County                 5
67   2012  Alameda County                11
90   2013  Alameda County                 5
117  2014  Alameda County                 8
152  2015  Alameda County                 8
..    ...             ...               ...
549  2023     Yolo County                16
595  2024     Yolo County                23
401  2020     Yuba County                 3
452  2021     Yuba County                 3
550  2023     Yuba County                 2

[596 rows x 3 columns]

In [73]:
ev_stations_per_year["cumulative_ev_stations"]= ev_stations_per_year.groupby("county")["ev_station_count"].cumsum()
ev_stations_per_year.sort_values(by=["county","year"])

     year          county  ev_station_count  cumulative_ev_stations
36   2011  Alameda County                 5                       5
67   2012  Alameda County                11                      16
90   2013  Alameda County                 5                      21
117  2014  Alameda County                 8                      29
152  2015  Alameda County                 8                      37
..    ...             ...               ...                     ...
549  2023     Yolo County                16                     100
595  2024     Yolo County                23                     123
401  2020     Yuba County                 3                       3
452  2021     Yuba County                 3                       6
550  2023     Yuba County                 2                       8

[596 rows x 4 columns]

In [75]:
# Create a function to save the DataFrames to CSV files
def save_csv_file(df, file_path):
    """ 
    Save a DataFrame to a CSV file at the specified file path.

    Parameters:
    - df: DataFrame to save
    - file_path: Path to save the CSV file
    """
    
    # Check if the parent directory exists
    if not file_path.parent.exists():
        print(f"Error: The directory `{file_path.parent}` does not exist.")
        return
    
    if file_path.exists():
        print(f"File `{file_path.name}` already exists. Overwriting file.")
        file_path.unlink()
    
    # Save the DataFrame to the specified file path
    df.to_csv(file_path, index=False)
    print(f"File saved as `{file_path.name}`")

In [79]:
file_name = "ca_evstation_progression.csv"
file_path = Path(f"../../../data/processed_data/{file_name}")
save_csv_file(ev_stations_per_year, file_path)

File saved as `ca_evstation_progression.csv`