In [45]:
from pathlib import Path
import datetime as dt
import pandas as pd
import numpy as np

In [47]:
tx_fuelstation_df = pd.read_csv(
    Path("../../../data/raw_data/TX_2024_alt_fuel_stations (Aug 30 2024)-3.csv"),
    parse_dates=["Open Date"],
    dtype={"ZIP":str},
)

print("Shape:", tx_fuelstation_df.shape)
tx_fuelstation_df.sort_values("Open Date",inplace=True)

display(tx_fuelstation_df.head())

Shape: (3779, 75)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
11,ELEC,Clay Cooley Nissan,39690 Lyndon B Johnson Fwy,NaN,Dallas,TX,75237,NaN,972-709-2000,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
1,ELEC,Clay Cooley Nissan,4914 S IH-35,NaN,Austin,TX,78745,NaN,512-444-1400,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
51,ELEC,Southwest Nissan,3050 Fort Worth Hwy,NaN,Weatherford,TX,76087,NaN,817-596-3811,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
29,ELEC,AutoNation Nissan - Lewisville,1601 S Stemmons Fwy,NaN,Lewisville,TX,75067,NaN,972-420-9500,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD,False,NaN
30,ELEC,Patterson Nissan - Longview,3114 N Eastman Rd,NaN,Longview,TX,75605,NaN,903-758-4135,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [49]:
tx_fuelstation_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3779 entries, 11 to 3652
Data columns (total 75 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Fuel Type Code                           3779 non-null   object
 1   Station Name                             3778 non-null   object
 2   Street Address                           3779 non-null   object
 3   Intersection Directions                  1066 non-null   object
 4   City                                     3779 non-null   object
 5   State                                    3779 non-null   object
 6   ZIP                                      3779 non-null   object
 7   Plus4                                    0 non-null      float64
 8   Station Phone                            3765 non-null   object
 9   Status Code                              3779 non-null   object
 10  Expected Date                            309 non-null    object
 11  Groups With Access Code                  3779 non-null   object
 12  Access Days Time                         3451 non-null   object
 13  Cards Accepted                           571 non-null    object
 14  BD Blends                                0 non-null      float64
 15  NG Fill Type Code                        0 non-null      float64
 16  NG PSI                                   0 non-null      float64
 17  EV Level1 EVSE Num                       12 non-null     float64
 18  EV Level2 EVSE Num                       3270 non-null   float64
 19  EV DC Fast Count                         572 non-null    float64
 20  EV Other Info                            0 non-null      float64
 21  EV Network                               3779 non-null   object
 22  EV Network Web                           3606 non-null   object
 23  Geocode Status                           3779 non-null   object
 24  Latitude                                 3779 non-null   float64
 25  Longitude                                3779 non-null   float64
 26  Date Last Confirmed                      3762 non-null   object
 27  ID                                       3779 non-null   int64
 28  Updated At                               3779 non-null   object
 29  Owner Type Code                          1016 non-null   object
 30  Federal Agency ID                        1 non-null      float64
 31  Federal Agency Name                      1 non-null      object
 32  Open Date                                3776 non-null   datetime64[ns]
 33  Hydrogen Status Link                     0 non-null      float64
 34  NG Vehicle Class                         0 non-null      float64
 35  LPG Primary                              0 non-null      float64
 36  E85 Blender Pump                         0 non-null      float64
 37  EV Connector Types                       3779 non-null   object
 38  Country                                  3779 non-null   object
 39  Intersection Directions (French)         0 non-null      float64
 40  Access Days Time (French)                0 non-null      float64
 41  BD Blends (French)                       0 non-null      float64
 42  Groups With Access Code (French)         3779 non-null   object
 43  Hydrogen Is Retail                       0 non-null      float64
 44  Access Code                              3779 non-null   object
 45  Access Detail Code                       406 non-null    object
 46  Federal Agency Code                      1 non-null      object
 47  Facility Type                            912 non-null    object
 48  CNG Dispenser Num                        0 non-null      float64
 49  CNG On-Site Renewable Source             0 non-null      float64
 50  CNG Total Compression Capacity           0 non-null      float64
 51  CNG Storage Capacity                     0 non-null      float64
 52  LNG On-Site Renewable Source             0 non-null      float64
 53  E85 Other Ethanol Blends                 0 non-null      float64
 54  EV Pricing                               825 non-null    object
 55  EV Pricing (French)                      0 non-null      float64
 56  LPG Nozzle Types                         0 non-null      float64
 57  Hydrogen Pressures                       0 non-null      float64
 58  Hydrogen Standards                       0 non-null      float64
 59  CNG Fill Type Code                       0 non-null      float64
 60  CNG PSI                                  0 non-null      float64
 61  CNG Vehicle Class                        0 non-null      float64
 62  LNG Vehicle Class                        0 non-null      float64
 63  EV On-Site Renewable Source              4 non-null      object
 64  Restricted Access                        755 non-null    object
 65  RD Blends                                0 non-null      float64
 66  RD Blends (French)                       0 non-null      float64
 67  RD Blended with Biodiesel                0 non-null      float64
 68  RD Maximum Biodiesel Level               0 non-null      float64
 69  NPS Unit Name                            2 non-null      object
 70  CNG Station Sells Renewable Natural Gas  0 non-null      float64
 71  LNG Station Sells Renewable Natural Gas  0 non-null      float64
 72  Maximum Vehicle Class                    667 non-null    object
 73  EV Workplace Charging                    3779 non-null   bool
 74  Funding Sources                          0 non-null      float64
dtypes: bool(1), datetime64[ns](1), float64(40), int64(1), object(32)
memory usage: 2.2+ MB

In [51]:
select_columns=["Open Date","ZIP","City","State"]

ev_stations_df=tx_fuelstation_df[select_columns].copy()
ev_stations_df

      Open Date    ZIP         City State
11   2010-12-30  75237       Dallas    TX
1    2011-01-15  78745       Austin    TX
51   2011-03-15  76087  Weatherford    TX
29   2011-03-15  75067   Lewisville    TX
30   2011-03-15  75605     Longview    TX
...         ...    ...          ...   ...
3538 2024-10-04  76932     Big Lake    TX
3618 2024-12-06  77029      Houston    TX
3126        NaT  77530  Channelview    TX
3651        NaT  78215  San Antonio    TX
3652        NaT  78257  San Antonio    TX

[3779 rows x 4 columns]

In [53]:
ev_stations_df.rename(
    columns={
        "Open Date":"date",
        "State":"state",
        "City":"city",
        "ZIP":"zip_code"
    },
    inplace = True, 
)
ev_stations_df

           date zip_code         city state
11   2010-12-30    75237       Dallas    TX
1    2011-01-15    78745       Austin    TX
51   2011-03-15    76087  Weatherford    TX
29   2011-03-15    75067   Lewisville    TX
30   2011-03-15    75605     Longview    TX
...         ...      ...          ...   ...
3538 2024-10-04    76932     Big Lake    TX
3618 2024-12-06    77029      Houston    TX
3126        NaT    77530  Channelview    TX
3651        NaT    78215  San Antonio    TX
3652        NaT    78257  San Antonio    TX

[3779 rows x 4 columns]

In [55]:
ev_stations_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3779 entries, 11 to 3652
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3776 non-null   datetime64[ns]
 1   zip_code  3779 non-null   object
 2   city      3779 non-null   object
 3   state     3779 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 147.6+ KB

In [57]:
ev_stations_df.isnull().sum()

date        3
zip_code    0
city        0
state       0
dtype: int64

In [59]:
ev_stations_df.loc[ev_stations_df["date"].isnull()]

     date zip_code         city state
3126  NaT    77530  Channelview    TX
3651  NaT    78215  San Antonio    TX
3652  NaT    78257  San Antonio    TX

In [61]:
ev_stations_df.dropna(subset="date",inplace=True)

In [63]:
ev_stations_df.loc[ev_stations_df["zip_code"].isnull()]

Empty DataFrame
Columns: [date, zip_code, city, state]
Index: []

In [65]:
ev_stations_df.dropna(subset="zip_code",inplace=True)

In [67]:
ev_stations_df.isnull().sum()

date        0
zip_code    0
city        0
state       0
dtype: int64

In [69]:
ev_stations_df["year"]= ev_stations_df["date"].dt.year
ev_stations_df

           date zip_code         city state  year
11   2010-12-30    75237       Dallas    TX  2010
1    2011-01-15    78745       Austin    TX  2011
51   2011-03-15    76087  Weatherford    TX  2011
29   2011-03-15    75067   Lewisville    TX  2011
30   2011-03-15    75605     Longview    TX  2011
...         ...      ...          ...   ...   ...
3753 2024-08-28    77479   Sugar Land    TX  2024
3778 2024-08-30    77084      Houston    TX  2024
3116 2024-09-01    77802        Bryan    TX  2024
3538 2024-10-04    76932     Big Lake    TX  2024
3618 2024-12-06    77029      Houston    TX  2024

[3776 rows x 5 columns]

In [71]:
zip_df=pd.read_csv(
    Path("../../../data/processed_data/tx_zipcodes.csv"),
    dtype={"Zip Code":str}
)
zip_df

,Zip Code,Type,Cities,County,Area Codes
0,73301,Unique,Austin,Travis County,Area Code 512
1,73344,Unique,Austin,Travis County,Area Code 512
2,73960,PO Box,Texhoma,Sherman County,Area Code 806
3,75001,Standard,Addison,Dallas County,"Area Code 214, Area Code 469, Area Code 945, A..."
4,75002,Standard,"Allen, Lucas, Parker",Collin County,"Area Code 214, Area Code 469, Area Code 945, A..."
...,...,...,...,...,...
2656,88587,PO Box,El Paso,El Paso County,Area Code 915
2657,88588,PO Box,El Paso,El Paso County,Area Code 915
2658,88589,PO Box,El Paso,El Paso County,Area Code 915
2659,88590,PO Box,El Paso,El Paso County,Area Code 915
2660,88595,PO Box,El Paso,El Paso County,Area Code 915

In [73]:
zip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2661 entries, 0 to 2660
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Zip Code    2661 non-null   object
 1   Type        2661 non-null   object
 2   Cities      2661 non-null   object
 3   County      2658 non-null   object
 4   Area Codes  2660 non-null   object
dtypes: object(5)
memory usage: 104.1+ KB

In [75]:
zip_group_df=zip_df.groupby("County")["Zip Code"].apply(list)
zip_group_df

County
Anderson County    [75763, 75779, 75801, 75802, 75803, 75832, 758...
Andrews County                                               [79714]
Angelina County    [75901, 75902, 75903, 75904, 75915, 75941, 759...
Aransas County                                 [78358, 78381, 78382]
Archer County                    [76351, 76366, 76370, 76379, 76389]
                                         ...
Wood County        [75410, 75444, 75494, 75497, 75765, 75773, 75783]
Yoakum County                                         [79323, 79355]
Young County                     [76372, 76374, 76450, 76460, 76481]
Zapata County                                  [78067, 78076, 78564]
Zavala County                                  [78829, 78839, 78872]
Name: Zip Code, Length: 256, dtype: object

In [77]:
zip_map=zip_group_df.to_dict()
#zip_map

In [79]:
def map_zip_to_county(zip_code):
    for key, value in zip_map.items():
        if zip_code in value: 
            return key, value 
    return None, None

In [81]:
bar = map_zip_to_county("95606")
print(bar)

(None, None)

In [83]:
ev_stations_df.apply(
    lambda row: map_zip_to_county(row['zip_code']),axis=1
)

11      (Dallas County, [75001, 75006, 75011, 75014, 7...
1       (Travis County, [73301, 73344, 78615, 78617, 7...
51      (Parker County, [76008, 76035, 76066, 76068, 7...
29      (Denton County, [75007, 75010, 75022, 75027, 7...
30      (Gregg County, [75601, 75602, 75603, 75604, 75...
                              ...
3753    (Fort Bend County, [77053, 77406, 77407, 77417...
3778    (Harris County, [77001, 77002, 77003, 77004, 7...
3116    (Brazos County, [77801, 77802, 77803, 77805, 7...
3538                             (Reagan County, [76932])
3618    (Harris County, [77001, 77002, 77003, 77004, 7...
Length: 3776, dtype: object

In [85]:
ev_stations_df.loc[ev_stations_df['zip_code'].isnull()]

Empty DataFrame
Columns: [date, zip_code, city, state, year]
Index: []

In [87]:
ev_stations_df[["county","zip_codes"]]= ev_stations_df.apply(
    lambda row: map_zip_to_county(row["zip_code"]),axis=1,result_type= "expand"
)
ev_stations_df

,date,zip_code,city,state,year,county,zip_codes
11,2010-12-30,75237,Dallas,TX,2010,Dallas County,"[75001, 75006, 75011, 75014, 75015, 75016, 750..."
1,2011-01-15,78745,Austin,TX,2011,Travis County,"[73301, 73344, 78615, 78617, 78645, 78652, 786..."
51,2011-03-15,76087,Weatherford,TX,2011,Parker County,"[76008, 76035, 76066, 76068, 76082, 76085, 760..."
29,2011-03-15,75067,Lewisville,TX,2011,Denton County,"[75007, 75010, 75022, 75027, 75028, 75029, 750..."
30,2011-03-15,75605,Longview,TX,2011,Gregg County,"[75601, 75602, 75603, 75604, 75605, 75606, 756..."
...,...,...,...,...,...,...,...
3753,2024-08-28,77479,Sugar Land,TX,2024,Fort Bend County,"[77053, 77406, 77407, 77417, 77441, 77444, 774..."
3778,2024-08-30,77084,Houston,TX,2024,Harris County,"[77001, 77002, 77003, 77004, 77005, 77006, 770..."
3116,2024-09-01,77802,Bryan,TX,2024,Brazos County,"[77801, 77802, 77803, 77805, 77806, 77807, 778..."
3538,2024-10-04,76932,Big Lake,TX,2024,Reagan County,[76932]
3618,2024-12-06,77029,Houston,TX,2024,Harris County,"[77001, 77002, 77003, 77004, 77005, 77006, 770..."

In [89]:
ev_stations_df.drop(
    columns=["zip_code","date","city"],
    inplace = True,
)
ev_stations_df

,state,year,county,zip_codes
11,TX,2010,Dallas County,"[75001, 75006, 75011, 75014, 75015, 75016, 750..."
1,TX,2011,Travis County,"[73301, 73344, 78615, 78617, 78645, 78652, 786..."
51,TX,2011,Parker County,"[76008, 76035, 76066, 76068, 76082, 76085, 760..."
29,TX,2011,Denton County,"[75007, 75010, 75022, 75027, 75028, 75029, 750..."
30,TX,2011,Gregg County,"[75601, 75602, 75603, 75604, 75605, 75606, 756..."
...,...,...,...,...
3753,TX,2024,Fort Bend County,"[77053, 77406, 77407, 77417, 77441, 77444, 774..."
3778,TX,2024,Harris County,"[77001, 77002, 77003, 77004, 77005, 77006, 770..."
3116,TX,2024,Brazos County,"[77801, 77802, 77803, 77805, 77806, 77807, 778..."
3538,TX,2024,Reagan County,[76932]
3618,TX,2024,Harris County,"[77001, 77002, 77003, 77004, 77005, 77006, 770..."

In [91]:
column_order=["year","state","county","zip_codes"]
ev_stations_df = ev_stations_df[column_order]
ev_stations_df

,year,state,county,zip_codes
11,2010,TX,Dallas County,"[75001, 75006, 75011, 75014, 75015, 75016, 750..."
1,2011,TX,Travis County,"[73301, 73344, 78615, 78617, 78645, 78652, 786..."
51,2011,TX,Parker County,"[76008, 76035, 76066, 76068, 76082, 76085, 760..."
29,2011,TX,Denton County,"[75007, 75010, 75022, 75027, 75028, 75029, 750..."
30,2011,TX,Gregg County,"[75601, 75602, 75603, 75604, 75605, 75606, 756..."
...,...,...,...,...
3753,2024,TX,Fort Bend County,"[77053, 77406, 77407, 77417, 77441, 77444, 774..."
3778,2024,TX,Harris County,"[77001, 77002, 77003, 77004, 77005, 77006, 770..."
3116,2024,TX,Brazos County,"[77801, 77802, 77803, 77805, 77806, 77807, 778..."
3538,2024,TX,Reagan County,[76932]
3618,2024,TX,Harris County,"[77001, 77002, 77003, 77004, 77005, 77006, 770..."

In [93]:
ev_stations_df = ev_stations_df.reset_index(drop=True)
ev_stations_df

,year,state,county,zip_codes
0,2010,TX,Dallas County,"[75001, 75006, 75011, 75014, 75015, 75016, 750..."
1,2011,TX,Travis County,"[73301, 73344, 78615, 78617, 78645, 78652, 786..."
2,2011,TX,Parker County,"[76008, 76035, 76066, 76068, 76082, 76085, 760..."
3,2011,TX,Denton County,"[75007, 75010, 75022, 75027, 75028, 75029, 750..."
4,2011,TX,Gregg County,"[75601, 75602, 75603, 75604, 75605, 75606, 756..."
...,...,...,...,...
3771,2024,TX,Fort Bend County,"[77053, 77406, 77407, 77417, 77441, 77444, 774..."
3772,2024,TX,Harris County,"[77001, 77002, 77003, 77004, 77005, 77006, 770..."
3773,2024,TX,Brazos County,"[77801, 77802, 77803, 77805, 77806, 77807, 778..."
3774,2024,TX,Reagan County,[76932]
3775,2024,TX,Harris County,"[77001, 77002, 77003, 77004, 77005, 77006, 770..."

In [95]:
ev_stations_df = ev_stations_df.sort_values(["year","county"])
ev_stations_df

,year,state,county,zip_codes
0,2010,TX,Dallas County,"[75001, 75006, 75011, 75014, 75015, 75016, 750..."
20,2011,TX,Bell County,"[76501, 76502, 76503, 76504, 76505, 76508, 765..."
29,2011,TX,Bell County,"[76501, 76502, 76503, 76504, 76505, 76508, 765..."
14,2011,TX,Bexar County,"[78002, 78015, 78023, 78054, 78073, 78109, 781..."
15,2011,TX,Bexar County,"[78002, 78015, 78023, 78054, 78073, 78109, 781..."
...,...,...,...,...
3628,2024,TX,Williamson County,"[76511, 76527, 76530, 76537, 76573, 76574, 765..."
3629,2024,TX,Williamson County,"[76511, 76527, 76530, 76537, 76573, 76574, 765..."
3631,2024,TX,Williamson County,"[76511, 76527, 76530, 76537, 76573, 76574, 765..."
3632,2024,TX,Williamson County,"[76511, 76527, 76530, 76537, 76573, 76574, 765..."
3396,2024,TX,Young County,"[76372, 76374, 76450, 76460, 76481]"

In [97]:
ev_stations_clean = ev_stations_df.copy()
ev_stations_clean.isnull().sum()

year         0
state        0
county       3
zip_codes    3
dtype: int64

In [99]:
ev_stations_clean.dropna(subset=["zip_codes"], inplace = True)
ev_stations_clean.isnull().sum()

year         0
state        0
county       0
zip_codes    0
dtype: int64

In [101]:
ev_stations_clean.loc[ev_stations_clean["zip_codes"].isnull()]

Empty DataFrame
Columns: [year, state, county, zip_codes]
Index: []

In [103]:
ev_stations_clean['ev_station_count'] = 1  # Create a new column with a default value of 1
ev_stations_per_year = ev_stations_clean.groupby(["year", "county"])["ev_station_count"].sum().reset_index()

In [105]:
ev_stations_per_year = ev_stations_clean.groupby(["year","county"])["ev_station_count"].sum().reset_index()
ev_stations_per_year

     year             county  ev_station_count
0    2010      Dallas County                 1
1    2011        Bell County                 2
2    2011       Bexar County                 5
3    2011      Brazos County                 1
4    2011     Cameron County                 1
..    ...                ...               ...
582  2024        Webb County                 1
583  2024     Wharton County                 2
584  2024     Willacy County                 1
585  2024  Williamson County                12
586  2024       Young County                 1

[587 rows x 3 columns]

In [107]:
ev_stations_per_year.sort_values(by=["county","year"])

     year           county  ev_station_count
45   2014  Anderson County                 1
326  2022  Anderson County                 3
406  2023  Anderson County                 2
504  2024  Angelina County                 1
85   2016   Aransas County                 1
..    ...              ...               ...
502  2023    Wilson County                 1
404  2022      Wise County                 1
503  2023      Wise County                 2
405  2022    Yoakum County                 1
586  2024     Young County                 1

[587 rows x 3 columns]

In [109]:
ev_stations_per_year["cumulative_ev_stations"]= ev_stations_per_year.groupby("county")["ev_station_count"].cumsum()
ev_stations_per_year.sort_values(by=["county","year"])

     year           county  ev_station_count  cumulative_ev_stations
45   2014  Anderson County                 1                       1
326  2022  Anderson County                 3                       4
406  2023  Anderson County                 2                       6
504  2024  Angelina County                 1                       1
85   2016   Aransas County                 1                       1
..    ...              ...               ...                     ...
502  2023    Wilson County                 1                       2
404  2022      Wise County                 1                       1
503  2023      Wise County                 2                       3
405  2022    Yoakum County                 1                       1
586  2024     Young County                 1                       1

[587 rows x 4 columns]

In [111]:
# Create a function to save the DataFrames to CSV files
def save_csv_file(df, file_path):
    """ 
    Save a DataFrame to a CSV file at the specified file path.

    Parameters:
    - df: DataFrame to save
    - file_path: Path to save the CSV file
    """
    
    # Check if the parent directory exists
    if not file_path.parent.exists():
        print(f"Error: The directory `{file_path.parent}` does not exist.")
        return
    
    if file_path.exists():
        print(f"File `{file_path.name}` already exists. Overwriting file.")
        file_path.unlink()
    
    # Save the DataFrame to the specified file path
    df.to_csv(file_path, index=False)
    print(f"File saved as `{file_path.name}`")

In [113]:
file_name = "tx_evstation_progression.csv"
file_path = Path(f"../../../data/processed_data/{file_name}")
save_csv_file(ev_stations_per_year, file_path)

File saved as `tx_evstation_progression.csv`